.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* CSS sementara */
.clear {
  clear: both;
}
.googleTrendChart {
  width: 990px;
  height: 400px;
  background: #fff;
  margin-bottom: 100px;
}
.social-wrap {
  width: 500px;
  height: 200px;
  /* background: red; */
}
.social-wrap > ul > li {
  float: left;
  list-style: none;
}
