.sidenav {
  border-right: 1px solid gainsboro;
  background-color: #9D3862;
  /* min-height: 100% !important; */
  height: 91vh;
}

.sidenav-panel {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.sidenav-bottom {
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

.row {
  align-items: center
}

.input-keyword {
  margin-left: 10px;
  border-radius: 5px;
  width: 400px;
}

.input-password {
  margin-left: 10px;
  border-radius: 5px;
  width: 85%;
}

.add-icon {
  font-size: 40px;
  background-color: white;
  border-radius: 50%;
}

.add-icon:hover {
  /* opacity: 0.5; */
  background-color: black;
  color: white;
}

.loading-icon {
  margin-left: 10px;
  margin-top: 20px;
}

.loading-text {
  text-align: center;
  margin-bottom: 10px;
}

.text-result-heading {
  font-size: 25px;
}

.cursor {
  cursor: pointer;
}

.display-panel {
  /* border: 1px solid red; */
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  height: 91vh;
}

.ul-margin-bottom {
  margin-bottom: 0px;
}

.no-padding-left-right {
  padding-left: 0px !important;
  padding-right: 0px !important;
}


/* NAVBAR */
@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Poiret+One|Questrial|Raleway:700|Righteous');

.navbar {
  /* background-color: #9D3862 !important; */
  padding-left: 50px !important;
  padding-right: 50px !important;
  height: 70px;
}

.nav-settings {
  border: 2px solid darkgrey;
  border-radius: 20px;
  margin: 5px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.navbar-brand {
  /* font-family: 'Questrial', sans-serif; */
  /* font-family: 'Righteous', cursive; */
  /* font-family: 'Poiret One', cursive; */
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  color: #9D3862 !important;
  font-size: 40px !important;
  padding-right: 10px !important;
}

.nav-settings:hover {
  border: 2px solid #9D3862;
  border-radius: 20px;
  margin: 5px;
  /* background-color: white; */
}

.nav-dropdown {
  border-radius: 20px;
}

.nav-link:hover {
  color: #9D3862 !important;

}

/* INDEX */
.one-row {
  /* border: 1px solid black; */
  background-color: #FAFAFA;
  height: 500px;
  padding: 0px !important;
}

.two-row {
  /* border: 1px solid red; */
  background-color: #FAFAFA;
  height: 500px;
  padding: 0px !important;
}

.img {
  width: 100%;
  height: 100%;
}

.img-top {
  height: 250px;
}

.index-head {
  /* border: 1px solid black; */
  margin-top: 20%;
  text-align: left;
}

.index-one {
  /* border: 1px solid green; */
  font-size: 20px;
  height: 20px;
}

.index-two {
  /* border: 1px solid red; */
  font-size: 40px;
  height: 40px;
  padding-bottom: 5px;
  color: #9D3862;
  font-weight: bold;
}

.index-three {
  /* border: 1px solid blue; */
  font-size: 14px;
  padding-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 40px;
}

.label-auth {
  margin-bottom: 0px;
}

.color-maroon {
  color: #9D3862; 
}

.small-auth {
  margin-top: 40px !important;
}

.h3-margin-0 {
  margin-bottom: 0px !important;
}

.img-logo-radar {
  width: 100%;
  padding-right: 40px;
  padding-left: 10px;
  border-right: 1px solid #9D3862;
}


/* Profile Page */

.text-left {
  text-align: left !important;
}