.sidenav {
  border-right: 1px solid gainsboro;
  background-color: #9D3862;
  /* min-height: 100% !important; */
  height: 91vh;
}

.sidenav-panel {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.sidenav-bottom {
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

.row {
  align-items: center
}

.input-keyword {
  margin-left: 10px;
  border-radius: 5px;
  width: 400px;
}

.add-icon {
  font-size: 40px;
  background-color: white;
  border-radius: 50%;
}

.text-result-heading {
  font-size: 25px;
}

.cursor {
  cursor: pointer;
}

.display-panel {
  /* border: 1px solid red; */
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  height: 91vh;
}

.ul-margin-bottom {
  margin-bottom: 0px;
}

.no-padding-left-right {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

